*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--clr-primary-900: hsl(270, 9%, 17%);
	--clr-primary-800: hsl(256, 26%, 20%);
	--clr-primary-500: hsl(216, 30%, 68%);
	--clr-neutral-400: hsl(273, 4%, 51%);
	--clr-neutral-300: hsl(0, 0%, 92%);
	--clr-neutral-200: hsla(0, 0%, 98%, 0.8);
	--clr-neutral-100: hsl(0, 0%, 98%);
	--ff-heading: 'DM Serif Display', serif;
	--fw-heading: 400;
	--ff-standard: 'Karla', sans-serif;
}

img,
svg {
	display: block;
	max-width: 100%;
}
p,
span,
li,
a {
	font-family: var(--ff-standard);
	text-decoration: none;
}
ul,
ol {
	list-style: none;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5rem;
}
nav ul {
	display: none;
}

nav ul li a,
.button {
	font-size: 0.85rem;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: var(--clr-neutral-400);
}
nav ul li a:hover {
	color: var(--clr-primary-900);
}
.button {
	font-size: 0.75rem;
	color: var(--clr-primary-900);
	border: 2px solid var(--clr-primary-800);
	background: transparent;
	padding: 12px 26px;
	transition: all 0.3s;
}
.button-reverse {
	border: 2px solid var(--clr-neutral-100);
	color: var(--clr-neutral-100);
}

.button:hover {
	background-color: var(--clr-primary-900);
	color: var(--clr-neutral-100);
}

button,
nav img {
	cursor: pointer;
}

.wrapper {
	width: 100%;
	margin-inline: auto;
	overflow: hidden;
}
.padding-inline {
	padding: 0 1.5rem;
}

.columns {
	display: flex;
	flex-direction: column-reverse;
	text-align: center;
}

.col {
	flex: 0 0 100%;
}
.bg-general-styles {
	background-repeat: no-repeat;
	position: absolute;
	width: 100%;
	z-index: -1;
}
.bg-mobile-1 {
	background-image: url('/images/bg-pattern-intro-left-mobile.svg');
	background-position: top left;
	top: 0;
	left: 0;
	height: 200px;
}
.bg-mobile-2 {
	background-image: url('/images/bg-pattern-intro-right-mobile.svg');
	background-position: bottom right;
	bottom: -10rem;
	height: 350px;
}
/* section {
	z-index: 10000;
} */
.columns .col:first-child {
	position: relative;
	padding-top: 5rem;
	padding-bottom: 5rem;
	background-color: var(--clr-primary-800);
	z-index: 1000;
}
.col h1 {
	font-size: 2.85rem;
	font-family: 'DM Serif Display', serif;
	font-weight: var(--fw-heading);
	line-height: 3rem;
	color: var(--clr-neutral-100);
}
.col h1 span {
	font-family: var(--ff-heading);
}

.col p {
	margin-top: 1rem;
	margin-bottom: 2rem;
	font-size: 0.95rem;
	line-height: 1.5rem;
	color: var(--clr-neutral-200);
}
.col picture img {
	width: 100%;
}

.flex-group {
	padding-top: 13rem;
	padding-bottom: 10rem;
	text-align: center;
}
.flex-group h2 {
	font-size: 3.05rem;
	margin-bottom: 5rem;
	position: relative;
	font-family: var(--ff-heading);
	font-weight: var(--fw-heading);
}
.flex-group h2::before {
	position: absolute;
	content: '';
	top: -3rem;
	left: 50%;
	transform: translateX(-50%);
	width: 150px;
	height: 1px;
	background-color: var(--clr-primary-500);
}
.flex-boxes {
	display: flex;
	flex-direction: column;
	gap: 3.5rem;
}
.flex-box {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.flex-box h3 {
	font-size: 1.75rem;
	margin-bottom: 1.25rem;
}

.flex-box p {
	font-size: 1rem;
	line-height: 1.5rem;
	color: var(--clr-neutral-400);
}
.flex-box img {
	margin-bottom: 2rem;
}

/* ZAPYTAC BADA CZY MOGE UZYWAC CAMELCASA DO NAZYWANIA KLAS */
.how-we-work {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	gap: 2.5rem;
	background-color: var(--clr-primary-800);
	position: relative;
	padding: 4.5rem 0;
	overflow: hidden;
}
.how-we-work-background {
	background-image: url('/images/bg-pattern-how-we-work-mobile.svg');
	background-repeat: no-repeat;
	position: absolute;
	top: 0;
	right: 0;
	width: 170px;
	height: 350px;
	z-index: 0;
}

.how-we-work-col {
	z-index: 1;
}
.how-we-work h2,
.how-we-work span {
	font-size: 2.45rem;
	font-family: var(--ff-heading);
	font-weight: var(--fw-heading);
	line-height: 2.5rem;
	color: var(--clr-neutral-100);
}

.footer-background {
	position: absolute;
	position: relative;
	width: 100%;
	height: 100%;
	left: 0;
	background-color: var(--clr-neutral-200);
}
.footer-background-element {
	position: absolute;
	background-image: url('/images/bg-pattern-footer-mobile.svg');
	top: 0;
	left: 0;
	background-repeat: no-repeat;
	width: 100%;
	height: 300px;
}
footer {
	margin-top: 10rem;
	position: relative;
	overflow: hidden;
	background-color: var(--clr-neutral-200);
}
.footer-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 6rem 0;
}

.footer-top {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	position: relative;
	padding-bottom: 2rem;
	/* border: 2px solid purple; */
}
.footer-top::after {
	position: absolute;
	content: '';
	bottom: 0;
	width: 85%;
	height: 1px;
	background-color: var(--clr-neutral-400);
}

.footer-socials {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
}

.footer-socials svg {
	transition: all 0.3s;
	cursor: pointer;
	fill: #837d88;
}
/* ROZKMINIC CZY MOGE SKROCIC ZAPIS SVG */

.footer-socials svg:hover {
	fill: var(--clr-primary-900);
}

.footer-bottom {
	text-align: center;
}
.footer-bottom h4 {
	margin-top: 2rem;
	margin-bottom: 2rem;
	font-size: 0.85rem;
	font-family: var(--ff-standard);
	text-transform: uppercase;
	color: var(--clr-neutral-400);
}
.footer-col ul {
	display: flex;
	flex-direction: column;
	font-size: 0.85rem;
	font-weight: 700;
	color: var(--clr-primary-900);
	text-transform: uppercase;
	gap: 1rem;
}
.footer-col ul li {
	letter-spacing: 1px;
}

@media (min-width: 48rem) {
	header {
		padding: 1.5rem 0;
	}

	nav ul {
		display: flex;
		align-items: center;
		gap: 1.5rem;
	}

	nav img {
		display: none;
	}
	.wrapper {
		width: min(1200px, 100% - (1.5rem) * 2);
	}
	.padding-inline {
		padding: 0;
	}

	.background {
		position: relative;
		position: absolute;
		background-color: var(--clr-primary-800);
		width: 100%;
		height: 70%;
		left: 0;
		overflow: hidden;
	}

	.bg-mobile-1,
	.bg-mobile-2 {
		display: none;
	}

	.bg-desktop-1 {
		background-image: url('/images/bg-pattern-intro-left-desktop.svg');
		background-position: bottom left;
		bottom: -8rem;
		left: 0;
		height: 525px;
		z-index: 5;
	}

	.bg-desktop-2 {
		background-image: url('/images/bg-pattern-intro-right-desktop.svg');
		background-position: top right;
		top: -5rem;
		right: 0;
		height: 600px;
		z-index: 10;
	}

	.columns {
		position: relative;
		padding: 6rem 0;
		flex-direction: row;
		gap: 2rem;
	}
	.columns .col:first-child {
		background-color: transparent;
	}

	.columns .col:first-child::before {
		position: absolute;
		content: '';
		width: 160px;
		height: 1px;
		top: 0;
		background-color: var(--clr-neutral-100);
	}

	.col {
		flex: 0 0 50%;
		text-align: left;
	}
	.col h1 {
		font-size: 4.5rem;
		line-height: 4rem;
	}
	.col h1 span {
		display: block;
	}
	.col p {
		margin-top: 2rem;
		font-size: 1.05rem;
		line-height: 2rem;
	}

	.flex-group {
		padding-top: 10rem;
		text-align: left;
	}
	.flex-group h2 {
		font-size: 4.5rem;
	}
	.flex-group h2::before {
		top: -4rem;
		left: 0;
		transform: translateX(0);
	}
	.flex-boxes {
		flex-direction: row;
	}
	.flex-box {
		align-items: flex-start;
	}
	.how-we-work {
		flex-direction: row;
		justify-content: space-between;
		gap: 2.5rem;
		padding: 4rem 5rem;
	}

	.how-we-work h2,
	.how-we-work span {
		font-size: 3.25rem;
		font-weight: 400;
		line-height: 3.5rem;
		font-family: var(--ff-heading);
		color: var(--clr-neutral-100);
		text-align: left;
	}
	.block {
		display: block;
	}
	.how-we-work-background {
		background-image: url('/images/bg-pattern-how-we-work-desktop.svg');
		width: 420px;
		height: 450px;
		min-height: 100%;
	}
	.how-we-work button {
		margin-left: auto;
	}

	.footer-background-element {
		background-image: url('/images/bg-pattern-footer-desktop.svg');
	}

	.footer-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 6rem 0;
	}

	.footer-top {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		position: relative;
	}
	.footer-top::after {
		width: 100%;
	}

	.footer-bottom {
		display: flex;
		text-align: center;
		justify-content: space-between;
		align-items: start;
		width: 100%;
		margin-right: auto;
	}

	.footer-bottom h4 {
		margin-top: 3.5rem;
		margin-bottom: 2rem;
		font-size: 0.85rem;
		font-family: var(--ff-standard);
		text-transform: uppercase;
		text-align: left;
		color: var(--clr-neutral-400);
	}
	.footer-col {
		display: flex;
		flex-direction: column;
		flex: 0 0 25%;
	}

	.footer-col ul {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		font-size: 0.85rem;
		font-weight: 700;
		color: var(--clr-primary-900);
		text-transform: uppercase;
		gap: 1rem;
	}
	.footer-col ul li {
		letter-spacing: 1px;
	}
}

@media (min-width: 768px) and (max-width: 880px) {
	.how-we-work h2,
	.how-we-work span {
		font-size: 2.55rem;
	}
}
