*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--clr-primary-900: hsl(270, 9%, 17%);
	--clr-primary-800: hsl(256, 26%, 20%);
	--clr-primary-500: hsl(216, 30%, 68%);
	--clr-neutral-400: hsl(273, 4%, 51%);
	--clr-neutral-200: hsla(0, 0%, 98%, 0.8);
	--clr-neutral-100: hsl(0, 0%, 98%);
	--ff-heading: 'DM Serif Display', serif;
	--ff-standard: 'Karla', sans-serif;
}

img,
svg {
	display: block;
	max-width: 100%;
}
p,
span,
li,
a {
	font-family: 'Karla', sans-serif;
	text-decoration: none;
}
ul,
ol {
	list-style: none;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5rem;
}
nav ul {
	display: none;
}

nav ul li a,
.button {
	font-size: 0.85rem;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: var(--clr-neutral-400);
}
nav ul li a:hover {
	color: var(--clr-primary-900);
}
.button {
	font-size: 0.75rem;
	color: var(--clr-primary-900);
	border: 2px solid var(--clr-primary-800);
	background: transparent;
	padding: 12px 26px;
	transition: all 0.3s;
}
.button-reverse {
	border: 2px solid var(--clr-neutral-100);
	color: var(--clr-neutral-100);
}

.button:hover {
	background-color: var(--clr-primary-900);
	color: var(--clr-neutral-100);
}

button,
nav img {
	cursor: pointer;
}

.wrapper {
	width: 100%;
	margin-inline: auto;
	overflow: hidden;
}
.padding-inline {
	padding: 0 1.5rem;
}

.columns {
	display: flex;
	flex-direction: column-reverse;
	text-align: center;
}

.col {
	flex: 0 0 100%;
}
.bg-general-styles {
	background-repeat: no-repeat;
	position: absolute;
	width: 100%;
	z-index: -1;
}
.bg-mobile-1 {
	background-image: url('/images/bg-pattern-intro-left-mobile.svg');
	background-position: top left;
	top: 0;
	left: 0;
	height: 200px;
}
.bg-mobile-2 {
	background-image: url('/images/bg-pattern-intro-right-mobile.svg');
	background-position: bottom right;
	bottom: -10rem;
	height: 350px;
}

.columns .col:first-child {
	position: relative;
	padding-top: 5rem;
	padding-bottom: 5rem;
	background-color: var(--clr-primary-800);
	z-index: 0;
}
.col h1 {
	font-family: 'DM Serif Display', serif;
	font-size: 2.85rem;
	font-weight: 400;
	line-height: 3rem;
	color: var(--clr-neutral-100);
	z-index: 100;
}

.col p {
	margin-top: 1rem;
	margin-bottom: 2rem;
	/* CHANGE PADDING ON DESKTOP */
	font-size: 0.95rem;
	line-height: 1.5rem;
	color: var(--clr-neutral-200);
}
.col picture img {
	width: 100%;
}

@media (min-width: 48rem) {
	.wrapper {
		width: min(1400px, 100% - (1.5rem) * 2);
	}
	.padding-inline {
		padding: 0;
	}

	.background {
		position: relative;
		position: absolute;
		background-color: var(--clr-primary-800);
		width: 100%;
		height: 70%;
		left: 0;
		overflow: hidden;
	}

	.bg-mobile-1,
	.bg-mobile-2 {
		display: none;
	}

	.bg-desktop-1 {
		background-image: url('/images/bg-pattern-intro-left-desktop.svg');
		background-position: bottom left;
		bottom: -8rem;
		left: 0;
		height: 525px;
		z-index: 10000;
	}

	.bg-desktop-2 {
		background-image: url('/images/bg-pattern-intro-right-desktop.svg');
		background-position: top right;
		top: -5rem;
		right: 0;
		height: 600px;
		z-index: 1000;
	}
	.columns {
		padding: 6rem 0;
		position: relative;
		flex-direction: row;
		z-index: 10;
	}
	.columns .col:first-child {
		background-color: transparent;
	}
	.col {
		flex: 0 0 50%;
	}

	header {
		padding: 1.5rem 0;
	}

	nav ul {
		display: flex;
		align-items: center;
		gap: 1.5rem;
	}

	nav img {
		display: none;
	}
}
